.bill-search {
    position: relative;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    width: 45px;
    height: 45px;
    border: 2px solid #027484;
    border-radius: 25px;
    padding: 5px;
    box-sizing: border-box;
    background: transparent;
    box-sizing: border-box;
}

.bill-search input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    border: none;
    outline: none;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
    padding-left: 20px !important;
}

.fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: -0.1px;
    right: -0.3px;
    border-radius: 50%;
    background: #027484;
    color: white;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

.bill-search:hover {
    width: 300px;
    cursor: pointer;
    border: 1px solid #BB1C33;
}

.bill-search:hover input {
    display: block;
}

.bill-search:hover .fa {
    background: #BB1C33;
    color: #08f45e;
}

@media only screen and (max-width:575px) {
    .bill-search {
        top: 50%;
        left: 50%;
        margin-top: 5px;
    }
}